**Project:** Data Minining Project for  X company

The CRISP-DM Framework


The CRISP-DM methodology provides a structured approach to planning a data mining project. It is a robust and well-proven methodology.
* Business understanding (BU): Determine Business Objectives, Assess Situation, Determine Data Mining Goals, Produce Project Plan

* Data understanding (DU): Collect Initial Data, Describe Data, Explore Data, Verify Data Quality

* Data preparation (DP): Select Data, Clean Data, Construct Data, Integrate Data

* Modeling (M): Select modeling technique, Generate Test Design, Build Model, Assess Model
*  Evaluation (E): Evaluate Results, Review Process, Determine Next Steps
*  Deployment (D): Plan Deployment, Plan Monitoring and Maintenance, Produce Final Report, Review Project


References:

[What is the CRISP-DM methodology?](https://www.sv-europe.com/crisp-dm-methodology/)

[Introduction to CRISP DM Framework for Data Science and Machine Learning](https://www.linkedin.com/pulse/chapter-1-introduction-crisp-dm-framework-data-science-anshul-roy/)

**Data Set**
### The data is for company X which is trying to control attrition. 
### There are two sets of data: "Existing employees" and "Employees who have left". The following attributes are available for every employee.


*   Satisfaction Level

*   Last evaluation

*   Number of projects

*   Average monthly hours

*   Time spent at the company
*   Whether they have had a work accident


*  Whether they have had a promotion in the last 5 years


*   Departments (column sales)


*   Salary


*  Whether the employee has left

**Your Role**
 

*   As data science team member X company asked you to answer this two questions.
*  What type of employees is leaving? 

*   Determine which employees are prone to leave next.

Business Understanding

---

This step mostly focuses on understanding the Business in all the different aspects. It follows the below different steps.




* Identify the goal and frame the business problem.
* Prepare Analytical Goal i.e. what type of performance metric and loss function to use
* Gather information on resource, constraints, assumptions, risks etc
* Gather information on resource, constraints, assumptions, risks etc
*   Prepare Work Flow Chart

### Write the main objectives of this project in your words?
minimum of 100 characters

In [1]:
main_objectives ='''The main objective of this project is to build a model that can predict whether an employee will leave the
company or not based on existing information about the nature of work within the company. The model will compare the set of attributes 
for each employee to know the pattern of similarity that exist between those who left and those who still remain in order to further improve 
employee satisfaction
'''

In [2]:
assert len(main_objectives) > 100 
### BEGIN HIDDEN TESTS
assert len(main_objectives) > 80 
### END HIDDEN TESTS

In [3]:
len(main_objectives)

407

### Outline the different data analysis steps you will follow to carry out the project

In [4]:
dm_outline = '''1. Understanding the problem statement and what to do
2. Data Collection, but for this project the data is available.
3. Data Preprocessing which include cleaning, removing null values, dropping duplicate values, reshaping if needed
4. Extensive Exploratory Data Analysis using bar charts, pie charts, scatterplot, heatmaps etc
5. Building a machine learning model
6. Deployment, continuous integration and development
7. Ascertaining if the solution solves the problem at hand
'''

In [5]:
assert len(dm_outline) > 100 
### BEGIN HIDDEN TESTS
assert len(dm_outline) > 70 
### END HIDDEN TESTS

### What metrics will you use to measure the performance of your data analysis model? 
Write the equations of the metrics here

e.g. Precision = $\frac{TP}{(TP + FP)}$

Why do you choose these metrics? minimum of 100 characters

In [6]:
why_metrics = '''I will use accuracy_score, f1_score, precision,and specificity for this task.
This is because it is a classification task, a binary one in fact and so accuracy score serves as one of 
the good metrics for determining the best model. Once the models have been ascertained to be doing well, 
I would also then use precision because that will really explain that out of all the samples
predicted as positive(i.e, remaining within the company), how many are really positive. Specificity will explain 
the nature of the negative values. That is out of all the people that the model predicted to leave the company,
how many actually left the company.
'''

In [7]:
assert len(why_metrics) > 100 
### BEGIN HIDDEN TESTS
assert len(why_metrics) > 80 
### END HIDDEN TESTS

### How would you know if your data analysis work is a success or not?
minimum of 100 characters

In [8]:
how_success = '''The success of the data analysis is determined by how good the model has performed and how it is able to solve the
problem to which it was built for. As a data scientist, the majority of the work is Data Processing and Analysis and has a great impact on all the 
other workflow steps
'''

In [9]:
assert len(how_success) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

## What kind of challenges do you expect in your analysis?
List at least 3 challenges

In [10]:
challenge_text = '''1. Inbalance Dataset
2. Noise in the dataset
3. Outliers in the dataset
4. Missing values and duplicate values in the dataset
5. A ot of categorical datatypes.
'''

In [11]:
len(challenge_text)

160

In [12]:
assert len(challenge_text) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

<h2>Using the processed twitter data from yesterday's challenge</h2>.


- Form a new data frame (named `cleanTweet`), containing columns $\textbf{clean-text}$ and $\textbf{polarity}$.

- Write a function `text_category` that takes a value `p` and returns, depending on the value of p, a string `'positive'`, `'negative'` or `'neutral'`.

- Apply this function (`text_category`) on the $\textbf{polarity}$ column of `cleanTweet` in 1 above to form a new column called $\textbf{score}$ in `cleanTweet`.

- Visualize The $\textbf{score}$ column using piechart and barchart

<h5>Now we want to build a classification model on the clean tweet following the steps below:</h5>

* Remove rows from `cleanTweet` where $\textbf{polarity}$ $= 0$ (i.e where $\textbf{score}$ = Neutral) and reset the frame index.
* Construct a column $\textbf{scoremap}$ Use the mapping {'positive':1, 'negative':0} on the $\textbf{score}$ column
* Create feature and target variables `(X,y)` from $\textbf{clean-text}$ and $\textbf{scoremap}$ columns respectively.
* Use `train_test_split` function to construct `(X_train, y_train)` and `(X_test, y_test)` from `(X,y)`

* Build an `SGDClassifier` model from the vectorize train text data. Use `CountVectorizer()` with a $\textit{trigram}$ parameter.

* Evaluate your model on the test data.

In [13]:
# import the required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data = pd.read_csv('data/clean_processed_tweet_data.csv')

In [33]:
# load in the cleaned dataset
df = pd.read_csv('cleaned_fintech_data.csv')
# check the head
df.head()

,Unnamed: 0,created_at,source,original_text,clean_text,sentiment,polarity,subjectivity,lang,favorite_count,...,original_author,screen_count,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place,place_coord_boundaries,timestamp
0,0.0,Thu Jun 17 06:26:34 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Giving forth life is becoming a burden in Keny...,Giving forth life becoming burden Kenya This m...,"Sentiment(polarity=0.3194444444444445, subject...",0.3194444444444445,0.5305555555555556,en,0,...,reen_law,398,70,223,NaN,NaN,janetmachuka_,NaN,NaN,2021-06-17 06:26:34+00:00
1,1.0,Thu Jun 17 06:26:37 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Teenmaar - 26cr\nPanja - 32.5cr\nGabbarsingh -...,Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...,"Sentiment(polarity=0.0, subjectivity=0.0)",0.0,0.0,in,0,...,Amigo9999_,19047,132,1084,NaN,NaN,maheshblood,NaN,India,2021-06-17 06:26:37+00:00
2,2.0,Thu Jun 17 06:26:42 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Rei chintu 2013 lo Vachina Ad Nizam ne 2018 lo...,Rei chintu lo Vachina Ad Nizam ne lo kottaru f...,"Sentiment(polarity=0.0, subjectivity=0.0)",0.0,0.0,hi,0,...,MallaSuhaas,47341,2696,2525,NaN,NaN,Hail_Kalyan,NaN,Vizag,2021-06-17 06:26:42+00:00
3,3.0,Thu Jun 17 06:26:44 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",Today is World Day to Combat #Desertification ...,Today World Day Combat Restoring degraded land...,"Sentiment(polarity=0.25, subjectivity=0.65)",0.25,0.65,en,0,...,CIACOceania,7039,343,387,NaN,"Desertification, Drought, resilience",EdwardVrkic,NaN,Papua New Guinea,2021-06-17 06:26:44+00:00
4,4.0,Thu Jun 17 06:26:47 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Hearing #GregHunt say he's confident vaccines ...,Hearing say 's confident vaccines delivered li...,"Sentiment(polarity=0.5, subjectivity=0.8333333...",0.5,0.8333333333333334,en,0,...,MccarronWendy,26064,419,878,NaN,"GregHunt, Morrison",WriteWithDave,NaN,"Sydney, New South Wales",2021-06-17 06:26:47+00:00

Form a new data frame (named cleanTweet), containing columns  ùêúùê•ùêûùêöùêß-ùê≠ùêûùê±ùê≠  and  ùê©ùê®ùê•ùêöùê´ùê¢ùê≠ùê≤ .

In [34]:
cleanTweet = pd.DataFrame({'clean-text': df['clean_text'], 'polarity': data['polarity']})

In [35]:
cleanTweet

                                              clean-text      polarity
0      Giving forth life becoming burden Kenya This m... -1.250000e-01
1      Teenmaar crPanja crGabbarsingh cr Khaleja Kuda... -1.000000e-01
2      Rei chintu lo Vachina Ad Nizam ne lo kottaru f...  0.000000e+00
3      Today World Day Combat Restoring degraded land...  1.000000e-01
4      Hearing say 's confident vaccines delivered li... -6.938894e-18
...                                                  ...           ...
21995                                                NaN  7.000000e-01
21996                                                NaN  7.000000e-01
21997                                                NaN  2.071429e-01
21998                                                NaN  5.000000e-02
21999                                                NaN  5.000000e-02

[22000 rows x 2 columns]

Write a function text_category that takes a value p and returns, depending on the value of p, a string 'positive', 'negative' or 'neutral'.

In [36]:
def text_category(p):
    if p > 0:
        return'positive'
    elif p == 0:
        return'neutral'
    else:
        return'negative'

Apply this function (text_category) on the  ùê©ùê®ùê•ùêöùê´ùê¢ùê≠ùê≤  column of cleanTweet in 1 above to form a new column called  ùê¨ùêúùê®ùê´ùêû  in cleanTweet

In [38]:
score = cleanTweet['polarity'].apply(text_category)

In [39]:
score

0        negative
1        negative
2         neutral
3        positive
4        negative
           ...
21995    positive
21996    positive
21997    positive
21998    positive
21999    positive
Name: polarity, Length: 22000, dtype: object

In [40]:
cleanTweet['score'] = score

In [41]:
cleanTweet.head(2)

                                          clean-text  polarity     score
0  Giving forth life becoming burden Kenya This m...    -0.125  negative
1  Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...    -0.100  negative

Visualize The  ùê¨ùêúùê®ùê´ùêû  column using piechart and barchart

In [ ]:
cleanTweet['score'].value_counts()

In [ ]:
cleanTweet['score'].value_counts().plot(kind = 'bar')

plt.xticks(rotation = 0)

In [ ]:
cleanTweet['score'].value_counts().plot(kind = 'pie')

plt.xticks(rotation = 0)

Remove rows from cleanTweet where  ùê©ùê®ùê•ùêöùê´ùê¢ùê≠ùê≤   =0  (i.e where  ùê¨ùêúùê®ùê´ùêû  = Neutral) and reset the frame index.

In [ ]:
cleanTweet = cleanTweet.loc[cleanTweet['polarity'] != '0.0']

In [ ]:
cleanTweet['polarity'].value_counts()